platform/n8n-workflow-ark-agents.json
{
  "name": "Agent@Scale Migration - ARK Agents Flow",
  "nodes": [
    {
      "parameters": {
        "path": "migration-ark",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [120, 460],
      "webhookId": "migration-ark"
    },
    {
      "parameters": {
        "url": "={{ $json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'analyzer_started',\n  timestamp: new Date().toISOString(),\n  data: $json.body\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-analyzer-started",
      "name": "Notify: Analyzer Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [340, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ark-api:80/v1/agents/execute",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  namespace: 'banque-migration',\n  agent: 'code-analyzer',\n  input: {\n    repositoryPath: $json.body.repositoryPath || '/workspace/repo',\n    repositoryUrl: $json.body.repositoryUrl\n  },\n  model: 'claude-sonnet-4-5'\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ark-code-analyzer",
      "name": "ARK Agent: Code Analyzer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [560, 460],
      "notes": "Analyzes source code using ARK agent"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-analyzer-success",
      "name": "Check Analyzer Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [780, 460]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'analyzer_completed',\n  timestamp: new Date().toISOString(),\n  result: $json.result\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-analyzer-completed",
      "name": "Notify: Analyzer Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 360]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'planner_started',\n  timestamp: new Date().toISOString(),\n  codeAnalysis: $('ARK Agent: Code Analyzer').item.json.result\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-planner-started",
      "name": "Notify: Planner Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1220, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ark-api:80/v1/agents/execute",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  namespace: 'banque-migration',\n  agent: 'migration-planner',\n  input: {\n    codeAnalysis: $('ARK Agent: Code Analyzer').item.json.result,\n    targetArchitecture: 'microservices',\n    targetFramework: 'spring-boot',\n    targetFrontend: 'angular'\n  },\n  model: 'claude-opus-4-6'\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ark-migration-planner",
      "name": "ARK Agent: Migration Planner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 360],
      "notes": "Creates migration plan using ARK agent"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'planner_completed',\n  timestamp: new Date().toISOString(),\n  migrationPlan: $json.result\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-planner-completed",
      "name": "Notify: Planner Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1660, 360]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'service_generator_started',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-service-started",
      "name": "Notify: Service Generator Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1880, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:4000/api/repo-migration/generate-services",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  migrationPlan: $('ARK Agent: Migration Planner').item.json.result,\n  outputPath: $('Webhook Trigger').item.json.body.outputPath || '/workspace/output'\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "generate-services",
      "name": "ARK Agent: Service Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2100, 180],
      "notes": "Generates Spring Boot microservices"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'service_generator_completed',\n  timestamp: new Date().toISOString(),\n  result: $json\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-service-completed",
      "name": "Notify: Service Generator Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2320, 180]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'frontend_migrator_started',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-frontend-started",
      "name": "Notify: Frontend Migrator Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1880, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:4000/api/repo-migration/generate-frontends",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  migrationPlan: $('ARK Agent: Migration Planner').item.json.result,\n  outputPath: $('Webhook Trigger').item.json.body.outputPath || '/workspace/output'\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "generate-frontends",
      "name": "ARK Agent: Frontend Migrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2100, 360],
      "notes": "Generates Angular micro-frontends"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'frontend_migrator_completed',\n  timestamp: new Date().toISOString(),\n  result: $json\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-frontend-completed",
      "name": "Notify: Frontend Migrator Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2320, 360]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Parallel Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2540, 270]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'validator_started',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-validator-started",
      "name": "Notify: Validator Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2760, 270]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:4000/api/repo-migration/validate",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  outputPath: $('Webhook Trigger').item.json.body.outputPath || '/workspace/output',\n  sourcePath: $('Webhook Trigger').item.json.body.repositoryPath,\n  migrationPlan: $('ARK Agent: Migration Planner').item.json.result\n}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "quality-validator",
      "name": "ARK Agent: Quality Validator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2980, 270],
      "notes": "Validates code quality, builds, tests"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'migration_completed',\n  timestamp: new Date().toISOString(),\n  validationReport: $json,\n  outputPath: $('Webhook Trigger').item.json.body.outputPath || '/workspace/output'\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "notify-migration-completed",
      "name": "Notify: Migration Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3200, 270]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  migrationId: $('Webhook Trigger').item.json.body.migrationId || 'unknown',\n  status: 'completed',\n  validationReport: $('ARK Agent: Quality Validator').item.json,\n  outputPath: $('Webhook Trigger').item.json.body.outputPath || '/workspace/output',\n  downloadUrl: 'http://backend:4000/api/repo-migration/download',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3420, 270]
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.notificationUrl || 'http://backend:4000/api/webhook/notify' }}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  step: 'error',\n  timestamp: new Date().toISOString(),\n  error: $json.error || 'Unknown error',\n  failedNode: $node.name\n}) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3420, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Notify: Analyzer Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Analyzer Started": {
      "main": [
        [
          {
            "node": "ARK Agent: Code Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARK Agent: Code Analyzer": {
      "main": [
        [
          {
            "node": "Check Analyzer Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analyzer Success": {
      "main": [
        [
          {
            "node": "Notify: Analyzer Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Analyzer Completed": {
      "main": [
        [
          {
            "node": "Notify: Planner Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Planner Started": {
      "main": [
        [
          {
            "node": "ARK Agent: Migration Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARK Agent: Migration Planner": {
      "main": [
        [
          {
            "node": "Notify: Planner Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Planner Completed": {
      "main": [
        [
          {
            "node": "Notify: Service Generator Started",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify: Frontend Migrator Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Service Generator Started": {
      "main": [
        [
          {
            "node": "ARK Agent: Service Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARK Agent: Service Generator": {
      "main": [
        [
          {
            "node": "Notify: Service Generator Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Service Generator Completed": {
      "main": [
        [
          {
            "node": "Merge Parallel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Frontend Migrator Started": {
      "main": [
        [
          {
            "node": "ARK Agent: Frontend Migrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARK Agent: Frontend Migrator": {
      "main": [
        [
          {
            "node": "Notify: Frontend Migrator Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Frontend Migrator Completed": {
      "main": [
        [
          {
            "node": "Merge Parallel Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Parallel Results": {
      "main": [
        [
          {
            "node": "Notify: Validator Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Validator Started": {
      "main": [
        [
          {
            "node": "ARK Agent: Quality Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARK Agent: Quality Validator": {
      "main": [
        [
          {
            "node": "Notify: Migration Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Migration Completed": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "handle-error"
  },
  "staticData": null,
  "tags": [
    {
      "name": "migration",
      "id": "1"
    },
    {
      "name": "ark-agents",
      "id": "2"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-10T12:00:00.000Z",
  "versionId": "2",
  "meta": {
    "instanceId": "ark-at-scale-platform"
  }
}
